<!DOCTYPE html>
<html>
  <%- include /includes/head.ejs %>
  <body>
  	<%- include /includes/header.ejs %>
  	<div class="container">
		<h1>Como funciona</h1>
    <h2>Registar</h2>
    <h3>O registo do utilizador é realizado com o email, um nick name e uma password</h3>
    
    <h2>Consultar</h2>
    <h3>A consulta de registos de utilizadores autenticados permite visualizar a lista das suas queixas registadas</h3>
    <h3>Os utilizadores podem realizar uma pesquisa na página inicial do portal</h3>
    <h3>Os utilizadores autenticados podem registar novas queixas e podem adicionar comentários nas queixas</h3>
    <h3>Os utilizadores autenticados podem-se registar em queixas para serem notificados sempre que uma queixa é actualizada, ou podem desistir de uma notificação</h3>	
	</div> <!-- /container -->
    <%- include /includes/footer.ejs %>
  </body>
</html>