<%
	this.isAuthenticated = this.isAuthenticated || false;
	this.identity = this.identity || '';
%>
<!DOCTYPE html>
<html lang="pt">
    <%- include ../includes/head.ejs %>
    <body>
        <%- include ../includes/header.ejs %>
		<div class="container">
			<div class="page-header">
				<h2>As minhas queixinhas</h2>
			</div>
			<%- include ../includes/table.ejs %>
		</div> <!-- /container -->
		<%- include ../includes/footer.ejs %>
    </body>
</html>